{{#if checked}}
   <i class="minus large icon" style="color: {{color}}"></i>
{{/if}}
<input type={{type}}
       name={{name}}
       tabindex={{tabindex}}
       checked={{unbound checked}}
       disabled={{unbound disabled}} />
<label>{{label}}</label>
{{yield (action "execute")}}