{{#if (or media.isMobile media.isTablet)}}
<div class="ui segment track-route">
  {{ui-checkbox class="ui toggle checkbox" onChange=(route-action 'getLocation') label="Track Your Route"}}
</div>
{{/if}}


<main>
  {{#leaflet-map lat=lat lng=lng zoom=zoom zoomControl=false onMoveend=(action "updatePosition") as |layers|}}
    {{#if (eq basemap 'default')}}
      {{tile-layer url='https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'}}
    {{/if}}
    {{#if (eq basemap 'osm')}}
      {{tile-layer url='https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'}}
    {{/if}}
    {{#if (eq basemap 'satellite')}}
      {{tile-layer url='https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'}}
    {{/if}}
    {{#cartodb-layer
      sublayers=sublayers proposed=proposed https=true onLoad='getLayer' url='https://mapc.carto.com/u/mapc-admin/api/v2/viz/ffb06642-d6ab-11e6-b416-0e233c30368f/viz.json'
      zIndex=1 legends=false search=true as |cartodb-layer|}}
        <nav class="filters">
          <div class="ui link vertical menu">
            {{#ui-accordion class="ui accordion"}}
              <h3 class="ui parent active title item">
                <i class="dropdown right floated icon"></i>
                Trailmap Filters
              </h3>

              <div class="ui parent {{if (not media.isMobile) 'active'}} content">
                {{#ui-accordion exclusive=true}}
                  <a class="ui child attached title item">
                    {{ui-checkbox
                      class='parent-checkbox'
                      label='Bike'
                      checked=(or protected shared bike_lane)
                      onChange=(action 'toggleAll' (array 'protected' 'shared' 'bike_lane'))}}
                    <i class="dropdown icon"></i>
                  </a>
                  <div class="child content link menu">
                    <a class="item" {{action (toggle 'protected' this)}}>
                      {{ui-checkbox
                        label='Protected Bike Lane'
                        checked=protected}}
                      {{#if protected}}
                        <i class="minus icon" style='color: #7f3193;'></i>
                      {{/if}}
                    </a>
                    <a class="item" {{action (toggle 'shared' this)}}>
                      {{ui-checkbox
                        label='Shared Lane Marking'
                        checked=shared}}
                      {{#if shared}}
                        <i class="minus icon" style='color: #82C5EC;'></i>
                      {{/if}}
                    </a>
                    <a class="item" {{action (toggle 'bike_lane' this)}}>
                      {{ui-checkbox
                        label='Bike Lane'
                        checked=bike_lane}}
                      {{#if bike_lane}}
                        <i class="minus icon" style='color: #0874b9;'></i>
                      {{/if}}
                    </a>
                  </div>
                {{/ui-accordion}}
                <a class="item" {{action (toggle 'walk' this)}}>
                  {{ui-checkbox
                    label='Walk'
                    checked=walk}}
                  {{#if walk}}
                    <i class="minus icon" style='color: #db813f'></i>
                  {{/if}}
                </a>
                <a class="item" {{action (toggle 'multi_use_path' this)}}>
                  {{ui-checkbox
                    label='Multi-Use Path'
                    checked=multi_use_path}}
                  {{#if multi_use_path}}
                    <i class="minus icon" style='color: #38A800;'></i>
                  {{/if}}
                </a>
                {{#if multi_use_path}}
                  <div class="menu">
                    <div class="item legend">
                      Unimproved <i class="minus icon" style='color: #a87000;'></i>
                    </div>
                  </div>
                {{/if}}
                <a class="item" {{action (toggle 'landline' this)}}>
                  {{ui-checkbox
                    label='LandLine (Metro Greenway Network)'
                    checked=landline}}
                </a>

                {{#if landline}}
                  <div class="menu">
                    <div class="item legend">
                      Greeway Route <i class="minus icon" style='color: #ffcc00'></i>
                    </div>
                    <div class="item legend">
                      Regional Walking Trail <i class="minus icon" style='color: #c696b7'></i>
                    </div>
                    <div class="item legend">
                      Combination <i class="minus icon" style='color: #d6a583'></i>
                    </div>
                  </div>
                {{/if}}

                {{#ui-accordion exclusive=true}}
                  <a class="ui child active attached title item">
                    Basemaps
                    <i class="dropdown icon"></i>
                  </a>
                  <div class="child active content">
                    {{#ui-radio
                      class="item icon"
                      name="default"
                      label="Default"
                      value="default"
                      current=basemap
                      onChange=(action (mut basemap) )}}
                    {{/ui-radio}}
                    {{#ui-radio
                      class="item icon"
                      name="osm"
                      label="Open Street Map"
                      value="osm"
                      current=basemap
                      onChange=(action (mut basemap) )}}
                    {{/ui-radio}}
                    {{#ui-radio
                      class="item icon"
                      name="satellite"
                      label="Satellite"
                      value="satellite"
                      current=basemap
                      onChange=(action (mut basemap) )}}
                    {{/ui-radio}}
                  </div>
                {{/ui-accordion}}
              </div>
            {{/ui-accordion}}
          </div>
        </nav>
    {{/cartodb-layer}}
    {{#if currentLocation}}
      {{#if locations}}
        {{polyline-layer smoothFactor=5 locations=locations}}
      {{/if}}
      {{marker-layer location=currentLocation}}
    {{/if}}
  {{/leaflet-map}}
</main>
