{{#if (or media.isMobile media.isTablet)}}
<div class="ui segment track-route">
  {{ui-checkbox class="ui toggle checkbox" onChange=(route-action 'getLocation') label="Track Your Route"}}
</div>
{{/if}}
<nav class="filters">
  <div class="ui link vertical menu">
    {{#ui-accordion class="ui accordion"}}
      <h3 class="ui parent active title item">
        <i class="dropdown right floated icon"></i>
        Trailmap Filters
      </h3>

      <div class="ui parent {{if (not media.isMobile) 'active'}} content">
        {{#ui-accordion exclusive=true}}
          <a class="ui child attached title item">
            {{ui-checkbox
              class='parent-checkbox'
              label='Bike'
              checked=(gt bike_fac_type.length 0)
              onChange=(action 'toggleCategories' 'bike_fac_type' '1,2,9')}}
            <i class="dropdown icon"></i>
          </a>
          <div class="child content link menu">
            {{scoped-array-checklist 
             checklistItems=bikeFacChecklist
             valuesList=bike_fac_type}}
          </div>
        {{/ui-accordion}}
        <a class="item" {{action 'toggleCategories' 'walk_fac_type' '1'}}>
          {{ui-checkbox
            label='Walk'
            checked=walk_fac_type}}
          {{#if walk_fac_type}}
            <i class="minus icon" style='color: #db813f'></i>
          {{/if}}
        </a>
        <a class="item" {{action 'toggleCategories' 'dual_fac_type' '5'}}>
          {{ui-checkbox
            label='Multi-Use Path'
            checked=dual_fac_type}}
          {{#if dual_fac_type}}
            <i class="minus icon" style='color: #38A800;'></i>
          {{/if}}
        </a>
        {{#if dual_fac_type}}
          <div class="menu">
            <div class="item legend">
              Unimproved <i class="minus icon" style='color: #a87000;'></i>
            </div>
          </div>
        {{/if}}
{{!--         <a class="item">

          {{#if land_line_type}}
            <i class="minus icon" style='color: #FFCC00'></i>
          {{/if}}
        </a> --}}
        <a class="item">
          {{ui-checkbox
            label='Regional Land Lines'
            checked=land_line_type
            onChange=(action (mut land_line_type))}}
        </a>

        {{#if land_line_type}}
          <div class="menu">
            <div class="item legend">
              Greeway Route <i class="minus icon" style='color: #ffcc00'></i>
            </div>
            <div class="item legend">
              Regional Walking Trail <i class="minus icon" style='color: #c696b7'></i>
            </div>
            <div class="item legend">
              Combination <i class="minus icon" style='color: #d6a583'></i>
            </div>
          </div>
        {{/if}}

        {{#ui-accordion exclusive=true}}
          <a class="ui child active attached title item">
            Basemaps
            <i class="dropdown icon"></i>
          </a>
          <div class="child active content">
            {{#ui-radio
              class="item icon"
              name="default"
              label="Default"
              value="default"
              current=basemap
              onChange=(action (mut basemap) )}}
            {{/ui-radio}}
            {{#ui-radio
              class="item icon"
              name="osm"
              label="Open Street Map"
              value="osm"
              current=basemap
              onChange=(action (mut basemap) )}}
            {{/ui-radio}}
            {{#ui-radio
              class="item icon"
              name="satellite"
              label="Satellite"
              value="satellite"
              current=basemap
              onChange=(action (mut basemap) )}}
            {{/ui-radio}}
          </div>
        {{/ui-accordion}}
        <div class="item">
          {{ui-checkbox class="ui toggle checkbox" onChange=(action (mut showProposed)) checked=showProposed label="Proposed Trails"}}
          {{#if showProposed}}
            <i class="ellipsis horizontal icon"></i>
          {{/if}}
        </div>
      </div>
    {{/ui-accordion}}
  </div>
</nav>

<main>
  {{#leaflet-map lat=lat lng=lng zoom=zoom zoomControl=false onMoveend=(action "updatePosition") as |layers|}}
    {{#if (eq basemap 'default')}}
      {{tile-layer url='https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'}}
    {{/if}}
    {{#if (eq basemap 'osm')}}
      {{tile-layer url='https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'}}
    {{/if}}
    {{#if (eq basemap 'satellite')}}
      {{tile-layer url='https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'}}
    {{/if}}
    {{cartodb-layer
      sql=sqlMapping https=true onLoad='getLayer' url='https://mapc.carto.com/u/mapc-admin/api/v2/viz/08794274-bbce-11e6-8fba-0e233c30368f/viz.json'
      zIndex=1 legends=false search=true}}
    {{#if currentLocation}}
      {{#if locations}}
        {{polyline-layer smoothFactor=5 locations=locations}}
      {{/if}}
      {{marker-layer location=currentLocation}}
    {{/if}}
  {{/leaflet-map}}
</main>
