<nav class="filters">
  <div class="ui link vertical menu">
    {{#ui-accordion class="ui accordion"}}
      <h3 class="ui parent active title item">
        <i class="dropdown right floated icon"></i>
        Trailmap Filters
      </h3>

      <div class="ui parent {{if (not media.isMobile) 'active'}} content">
        {{#ui-accordion exclusive=true}}
          <a class="ui child attached title item">
            {{ui-checkbox
              class='parent-checkbox'
              label='Bike'
              checked=(or applicationController.protected applicationController.shared applicationController.bike_lane)
              onChange=(action 'toggleAll' (array 'protected' 'shared' 'bike_lane'))}}
            <i class="dropdown icon"></i>
          </a>
          <div class="child content link menu">

            <a class="item" {{action (toggle 'protected' applicationController)}}>
              {{ui-checkbox
                label='Protected Bike Lane'
                checked=applicationController.protected}}
              {{#if applicationController.protected}}
                {{ui-popup position="right center" tagName="i" class="minus icon legend-bike-protected" 
                content="Protected Bike Lane: Bicycle lane that is physically separated from the travel lane"}}
              {{/if}}
            </a>
            <a class="item" {{action (toggle 'bike_lane' applicationController)}}>
              {{ui-checkbox
                label='Bike Lane'
                checked=applicationController.bike_lane}}
              {{#if applicationController.bike_lane}}
                {{!-- <i class="minus icon" style='color: #0874b9;'></i> --}}
                {{ui-popup position="right center" tagName="i" class="minus icon legend-bike-lane" content="Bike Lane: Sharrow indicating a priority bicycle route shared with motor vehicles"}}
              {{/if}}
            </a>
            <a class="item" {{action (toggle 'shared' applicationController)}}>
              {{ui-checkbox
                label='Shared Lane Marking'
                checked=applicationController.shared}}
              {{#if applicationController.shared}}
                {{!-- <i class="minus icon" style='color: #82C5EC;'></i> --}}
                {{ui-popup position="right center" tagName="i" class="minus icon legend-bike-shared" content="Shared Lane Marking: Striped bicycle lane on the roadway"}}
              {{/if}}
            </a>
          </div>
        {{/ui-accordion}}
        <a class="item" {{action (toggle 'walk' applicationController)}}>
          {{ui-checkbox
            label='Walk'
            checked=applicationController.walk}}
          {{#if applicationController.walk}}
            {{ui-popup position="right center" tagName="i" class="minus icon legend-walk-foot" content="Foot path: Natural surface or paved path primarily for walking"}}
          {{/if}}
        </a>
        <a class="item" {{action (toggle 'multi_use_path' applicationController)}}>
          {{ui-checkbox
            label='Multi-Use Path'
            checked=applicationController.multi_use_path}}
          {{#if applicationController.multi_use_path}}
            {{ui-popup position="right center" tagName="i" class="minus icon legend-multi" content="​Paved: Path is paved with a firm stable surface, typically asphalt or stone dust"}}

            {{!-- <i class="minus icon" style='color: #38A800;'></i> --}}
          {{/if}}
        </a>
        {{#if applicationController.multi_use_path}}
          <div class="menu">
            <div class="item legend">
              Unimproved
              {{ui-popup position="right center" tagName="i" class="minus icon legend-multi-unimproved" content="Unimproved: Future paved path that is currently passable by foot"}}
            </div>
          </div>
        {{/if}}
        <a class="item" {{action (toggle 'landline' applicationController)}}>
          {{ui-checkbox
            label='LandLine (Metro Greenway Network)'
            checked=applicationController.landline}}
        </a>

        {{#if applicationController.landline}}
          <div class="menu">
            <div class="item legend">
              Greeway Route
              {{ui-popup position="right center" tagName="i" class="minus icon legend-landline-greenway" content="Greenway Route: Priority route for cycling and walking with priority for separation from traffic"}}
            </div>
            <div class="item legend">
              Regional Foot path
              {{ui-popup position="right center" tagName="i" class="minus icon legend-landline-regional" content="Regional Foot path: Regional trail for walking, either through conservation areas, or urban trails"}}
            </div>
            <div class="item legend">
              Combination 
              {{#ui-popup position="right center" tagName="i" class="icon" content="​Combination: Greenway and foot path routes overlap in this sections"}}
                <i class="icons">
                  <i class="big minus icon icon" style='color: #BC9DD6'></i>
                  <i class="minus icon" style='color: #ffd37f'></i>
                </i>
              {{/ui-popup}}
            </div>
          </div>
        {{/if}}

        {{#ui-accordion exclusive=true}}
          <a class="ui child active attached title item">
            Basemaps
            <i class="dropdown icon"></i>
          </a>
          <div class="child active content">
            {{#ui-radio
              class="item icon"
              name="default"
              label="Default"
              value="default"
              current=applicationController.basemap
              onChange=(action (mut applicationController.basemap) )}}
            {{/ui-radio}}
            {{#ui-radio
              class="item icon"
              name="osm"
              label="Open Street Map"
              value="osm"
              current=applicationController.basemap
              onChange=(action (mut applicationController.basemap) )}}
            {{/ui-radio}}
            {{#ui-radio
              class="item icon"
              name="satellite"
              label="Satellite"
              value="satellite"
              current=applicationController.basemap
              onChange=(action (mut applicationController.basemap) )}}
            {{/ui-radio}}
          </div>
        {{/ui-accordion}}
        <div class="item">
          {{ui-checkbox class="ui toggle checkbox" onChange=(action (mut applicationController.proposed)) checked=applicationController.proposed label="Proposed Trails"}}
          {{#if applicationController.proposed}}
            <i class="ellipsis horizontal icon"></i>
          {{/if}}
        </div>
        {{link-to 'Home' 'index' class='item'}}
      </div>
    {{/ui-accordion}}
  </div>
</nav>
<nav class="feedback">
  <div class="ui link menu">
    <div class="item" onClick={{action (mut applicationController.feedback_adding)}}>
      Submit Feedback
    </div>
{{!--     {{ui-checkbox class="item" onChange=(action (mut applicationController.feedback_adding)) checked=applicationController.feedback_adding label="Submit Feedback"}} --}}
  </div>
</nav>