<div id="wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <a href="index.html" class="logo"><strong>MAPC</strong></a>
    </header>

  <!-- Menu -->


  <!-- Banner -->
    <section id="banner" class="major">
      <div class="inner">
        <header class="major">
          <h1>{{aboutPage.title}}</h1>
        </header>
        <div class="content">
          <p>{{aboutPage.tagline}}</p>
          <ul class="actions">
            <li><a {{action 'trackLocation' target="applicationController"}} class="button next scrolly">Trails Near You</a></li>
            <li>{{link-to 'Regional LandLines' 'filters' (query-params protected=false shared=false bike_lane=false walk=false multi_use_path=false landline=true zoom=10) class="button next scrolly"}}</li>
          </ul>
        </div>
      </div>
    </section>

  <!-- Main -->
    <div id="main">

      <!-- One -->

        <section id="one" class="tiles">
          {{#each aboutPage.tiles as |tile|}}
            <article style="background-image: url({{host}}{{tile.background-image}})">
              <header class="major">
                <h3>
                  <a href="#" class="link" {{action "transitionTo" "filters" tile.config}}>{{tile.title}}</a>
                </h3>
                <p>{{#if tile.description}} {{tile.description}} {{else}} Ipsum dolor sit amet {{/if}} </p>
              </header>
            </article>
          {{/each}}
        </section>

      <!-- Two -->
      <section id="two">
        <div class="inner">
          <header class="major">
            <h2>Disclaimer</h2>
          </header>
          <p>{{aboutPage.disclaimer}}</p>
        </div>
      </section>
    </div>

  <!-- Contact -->
    <section id="contact">
      <div class="inner">
        <section>
            <div class="contact-method">
              <span class="icon alt fa-envelope"></span>
              <h3>Email Us</h3>
              <a href="mailto:{{aboutPage.email}}" class="button">{{aboutPage.email}}</a>
            </div>
          </section>
        <section class="split">
          <section>
            <div class="contact-method">
              <span class="icon alt fa-phone"></span>
              <h3>Phone</h3>
              <span>{{aboutPage.phone}}</span>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon alt fa-home"></span>
              <h3>Address</h3>
              <span>{{aboutPage.address}}</span>
            </div>
          </section>
        </section>
      </div>
    </section>

  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>&copy; MAPC</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>
</div>